@page "~/areas/manager/errorpagerouting"
@model GeekCafe.PiranhaCMS.ErrorRouting.Areas.ErrorPageRouting.Pages.IndexModel

@{
    Layout = "~/Areas/Manager/Shared/_Layout.cshtml";
}


<div class="content">
    <h1>Error Route Manager</h1>

    <div>Add Vue App or Razor page logic here.</div>
</div>



